<%= form_with(model: grocery_ingredient, local: true) do |form| %>
  <% if grocery_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocery_ingredient.errors.count, "error") %> prohibited this grocery_ingredient from being saved:</h2>

      <ul>
      <% grocery_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
