<meta name="google-site-verification" content="9aH1m8u6IaJ5pzLiA81M0LNF1CI_YKYrNXJw27CbSiE" />
<div id="root"></div>

<!-- asset_pack_path 'images/foodgroup.png' -->

<% if current_user %>

<%= javascript_pack_tag  'app' %>

<% else %>

<%= javascript_pack_tag  'splash' %>

<% end %>


<!-- <h1> Welcome, please login to continue </h1>
<a href="/auth/google_oauth2">Sign in with Google</a>

<a href="/api_test">Search</a>

<a href="/auth/facebook">Sign in with Facebook</a>
 -->
